{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign Out" %}</h3>
            <p>{% blocktrans %}
                Are you sure you want to sign out?<br>
                We look forward to seeing you in the future, and in the meantime happy coding and journalling. {% endblocktrans %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-alt" type="submit">{% trans 'Sign Out' %} <i class="fa-solid fa-angles-right"></i></button>
            </form>
        </div>
    </div>

{% endblock %}