{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Placeholder -->

<div class="container">
    <h1>H1 Heading</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in ante viverra, posuere dui sed, consequat
        erat. Fusce eget mi placerat sapien accumsan rhoncus in eu lectus. Nullam libero felis, placerat sed commodo sit
        amet, lacinia eget tortor. Fusce elementum sapien risus, et fringilla orci fringilla et. Phasellus lacinia
        pulvinar lorem, id dictum nulla aliquam id. Sed nec pellentesque est. Phasellus quis metus ultrices nunc
        dignissim interdum. Vivamus sed fringilla urna. In finibus, ex nec aliquet varius, nunc enim facilisis felis, at
        ornare erat erat in nisi. Pellentesque venenatis justo non nulla consectetur, sit amet dictum nisl volutpat.
        Fusce at ligula lobortis, interdum odio sed, luctus diam. Fusce magna ante, mollis ut pharetra eu, tempus ut
        mauris. Donec sed metus sed sapien iaculis semper sed nec tortor. Donec cursus et eros ac iaculis. Pellentesque
        elementum augue ut blandit sagittis.
    </p>
    <h2>H2 Sub-Heading</h2>
    <p>
        Quick link testing <a href="http://stackoverflow.com">Stack Overflow</a>.

        Donec pretium massa commodo enim sollicitudin dapibus. Pellentesque pulvinar sapien eu interdum cursus. Proin
        vitae viverra felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
        finibus pulvinar est, ac iaculis odio cursus ut. Suspendisse venenatis gravida felis, quis maximus turpis
        vehicula at. Etiam in posuere leo. Etiam vitae nibh blandit velit accumsan rutrum. Nam blandit ultricies velit,
        et mattis quam volutpat vitae.
    </p>
    <h3>H3 Blockquote</h3>

    <blockquote cite="http://stackoverflow.com">
        <p>Type HTML in the textarea above, <q>and it will magically
        appear</q> in the frame below.</p>
        <br><br>
        <cite><a href="http://stackoverflow.com">reference url</a></cite>
    </blockquote>  

    <blockquote cite="http://stackoverflow.com">
        <p>Type HTML in the textarea above, <q>and it will magically
        appear</q> in the frame below.</p>
        <br><br>
        <cite><a href="http://stackoverflow.com">reference url</a></cite>
    </blockquote>


    <blockquote cite="http://stackoverflow.com">
        <p>Type HTML in the textarea above, <q>and it will magically
        appear</q> in the frame below.</p>
        <br><br>
        <cite><a href="http://stackoverflow.com">reference url</a></cite>
    </blockquote>


    <div>
        <blockquote cite="https://www.huxley.net/bnw/four.html">
        <p>Words can be like X-rays, if you use them properly—they’ll go through anything. You read and you’re pierced.</p>
        
        <p>—Aldous Huxley, Brave New World</p>
        </blockquote>
    </div>  

    <h4>H4 Sub-Heading</h4>
    <p>
        Donec a urna at nisl molestie malesuada. Donec erat justo, porta et maximus vitae, congue vel lorem. Curabitur
        iaculis, eros et commodo varius, lorem ipsum sollicitudin sem, non vestibulum lacus dui dapibus velit.
        Suspendisse vel convallis velit, vel pretium risus. Proin semper nisl orci, sit amet mollis justo ornare a. In
        justo sapien, imperdiet lacinia diam non, euismod vehicula enim. Nunc non tortor sit amet metus sagittis aliquet
        eget ut lectus. Curabitur hendrerit augue ut blandit finibus. Vivamus faucibus efficitur cursus. Vestibulum id
        tempus turpis. Pellentesque vel venenatis ex.
    </p>
    <h5>Sub-Heading</h5>
    <p>
        Maecenas felis est, tempus eget ante vel, fringilla hendrerit elit. Integer facilisis venenatis sem, non
        ultricies arcu maximus quis. Pellentesque porttitor ullamcorper vulputate. Curabitur rhoncus aliquet turpis et
        congue. Vestibulum vitae varius quam. Maecenas dapibus dui et viverra ultricies. Pellentesque pulvinar mauris at
        velit auctor, in ultricies turpis rutrum. Suspendisse venenatis mollis sodales. Vestibulum ut tempor libero. Nam
        id mi in purus pellentesque volutpat. Duis vitae justo diam. Fusce tincidunt maximus mauris et tempor. In
        pretium ullamcorper arcu id congue. Donec blandit orci sed quam volutpat, in pharetra sem vulputate. Cras ut
        rhoncus urna, sed gravida magna. Quisque semper, risus vitae fermentum iaculis, ligula enim euismod tortor,
        accumsan lacinia urna elit ac elit.
    </p>
    <h6>H6 Sub-Heading</h6>
    <p>
        Pellentesque id nibh non elit viverra tincidunt in vitae leo. Ut eget placerat mauris. Sed vel porta elit.
        Integer quis libero sed arcu volutpat rhoncus. Mauris eu justo et nisl maximus lacinia. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Donec et malesuada lectus. Mauris viverra, diam in eleifend imperdiet,
        ex leo vestibulum nisi, quis auctor nunc enim vel quam. Nulla at nisl convallis tortor pharetra sagittis. Nulla
        id nisl vitae felis pellentesque pulvinar id et nunc. Donec fringilla porttitor tortor vel ultrices.

    </p>
</div>

{% endblock content %}