{% extends 'base-no-container.html' %}
{% load cloudinary %}
{% block content %}
{% load static %}

<!-- Hero Section -->
<div class="section p-5" id="section-hero" style="background-image: url('{{ hero.image.url }}');"
    alt="{{ hero.image_alt }}">
    <div class="container section-content py-5 text-end">
        <h1 class="display-5 fw-bold">{{ hero.heading|safe }}</h1>
        <p class="py-3 fs-4">{{ hero.text|safe }}</p>
        <a class="btn btn-alt btn-lg" href="{{ hero.button_url }}" type="button">{{ hero.button_text|safe }}</a>
    </div>
</div>

<!-- Featured Carousel -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4">
            <h2>Featured Posts</h2>
            <p>Expolore the categories</p>
        </div>
        <div class="col-md-8">
            <a class="btn" href="{% url 'blog' %}">All Posts</a>
            {% for category in categories %}
            <a class="btn" href="{% url 'category' category.slug %}">{{ category }}</a>
            {% endfor %}
        </div>
    </div>
    <div id="featured-carousel" class="section carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for post in featured_posts %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <a href="{% url 'post_detail' post.category.slug post.slug %}" class="featured-link">
                    {% if "placeholder" in post.featured_image.url %}
                    <img src="{% static 'images/default-post.webp' %}" class="d-block w-100"
                        alt="{{post.category.default_image_alt }}">
                    {% else %}
                    <img src="{{ post.featured_image.url }}" class="d-block w-100"
                        alt="{{ post.featured_image_alt|default:post.category.default_image_alt }}">
                    {% endif %}
                    <div class="row overlay-text px-4">
                        <div class="col-8 test-start">
                            {{ post.title }}
                        </div>
                        <div class="col-4 text-end">
                            {{ post.category.category }}
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#featured-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#featured-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>

<!-- Call To Action -->
{% if user.is_authenticated %}
<div class="section p-5" id="section-cta" style= "background-image: url('{{ cta.image.url }}');"
    alt="{{ cta.image_alt }}">
    <div class="container py-5 text-start">
        <h2 class="display-5 fw-bold">{{ cta.heading|safe }}</h2>
        <p class="py-3 fs-4">{{ cta.text|safe }}</p>
        <a class="btn btn-alt btn-lg" href="{{ cta.button_url }}" type="button">{{ cta.button_text|safe }}</a>
    </div>
</div>
{% else %}
<div class="section p-5" id="section-cta" style="background-image: url('{{ signup.image.url }}');"
    alt="{{ signup.image_alt }}">
    <div class="container py-5 text-start">
        <h2 class="display-5 fw-bold">{{ signup.heading|safe }}</h2>
        <p class="py-3 fs-4">{{ signup.text|safe }}</p>
        <a class="btn btn-alt btn-lg" href="{{ signup.button_url }}" type="button">{{ signup.button_text|safe }}</a>
    </div>
</div>
{% endif %}

<!-- Info -->
<section class="section" id="section-info">
    <div class="container">
        <div class="text-center">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ info.image.url }}" class="img-fluid rounded" alt="{{ info.image_alt }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="heading display-5 fw-bold py-3">{{ info.heading|safe }}</h2>
                        <p class="py-3 fs-4">{{ info.text|safe }}</p>
                        <a href="{{ info.button_url }}" class="btn btn-lg" role="button" aria-label="{{ info.label }}">
                            {{ info.text|safe }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}