{% extends "base.html" %}
{% load cloudinary %}
{% block content %}
{% load static %}

<!-- Edit Profile Buttons -->
<nav class="text-center">
  <h2 class="pb-3">{{ profile.user.username }}'s Profile</h2>
  <div class="row align-items-center">
    <div class="col-md-12">
      <a class="btn" href="{% url 'edit-profile' %}">Edit Profile</a>
      <a class="btn" href="{% url 'account_change_password' %}">Change Password</a>
      <a class="btn" href="{% url 'account_logout' %}">Sign Out</a>
    </div>
  </div>
</nav>

<!-- Profile Information -->
<section class="d-flex align-items-start">
  <div class="col-md-6">
    <img class="mb-5" id="profile-user-img" src="{{ profile.get_image_url }}" alt="{{ profile.display_name }}">
  </div>
  <div class="col-md-6 text-start">
    <h2>User Details</h2>
    <ul>
      <li>Display Name: {{ profile.display_name }}</li>
      <li>First Name: {{ profile.first_name }}</li>
      <li>Last Name: {{ profile.last_name }}</li>
      <li>Joined: {{ profile.created_on }}</li>
      <li>Last Login: {{ profile.last_login }}</li>
    </ul>
    <h2>Bio</h2>
    <p>{{ profile.bio }}</p>
  </div>
</section>

{% endblock %}