{% extends "base.html" %}
{% load cloudinary %}
{% block content %}
{% load static %}




<div class="container">
  <h2>{{ profile.user.username }}'s Profile</h2>
  <div class="text-center">
      <div class="row g-0">
          <div class="col-md-4">
              <img src="{{ profile.image.url }}" class="img-fluid rounded" alt="{{ profile.display_name }}">
          </div>
          <div class="col-md-8">
              <div class="card-body">
                <p>Display Name: {{ profile.display_name }}</p>
                <p>First Name: {{ profile.first_name }}</p>
                <p>Last Name: {{ profile.last_name }}</p>
                <p>Bio: {{ profile.bio }}</p>
                <p>Created On: {{ profile.created_on }}</p>
                <p>Last Login: {{ profile.last_login }}</p>
              </div>
          </div>
      </div>
      <div class="row text-center">
        <a href="{% url 'edit-profile' %}">Edit Profile</a>
        <a href="{% url 'update-email' %}">Update Email</a>
      </div>
  </div>
</div>

{% endblock %}