{% extends "base.html" %}
{% load cloudinary %}
{% block content %}
{% load static %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4 h-100">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top scale" src="{% static 'images/default-post.webp' %}" 
                                    alt="pixel to page blog post default image placeholder">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                    alt="{{ post.title }}">
                                    {% endif %}
                            </div>
                            <a href="{% url 'post_detail' post.category.slug post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                            </a>
                            <hr>
                            <p class="card-text">
                                {{ post.excerpt | safe }}
                            </p>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                  <p class="post-subtitle">Author: {{ post.author }}</p>
                                </div>
                                <div class="col-6 text-end">
                                  <p class="post-subtitle">Posted: {{ post.created_on }}</p>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}