{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="image-container">
                {% if blog.post.featured_image %}
                {% cloudinary blog.post.featured_image alt=post.title %}
                {% else %}
                <img src="{% static 'images/default-post.webp' %}" class="img-fluid" alt="placeholder">
                {% endif %}
            </div>
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <hr>
                <p class="post-subtitle">Author: {{ post.author }}<br>Last Updated: {{ post.updated_on }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}